<script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.8.22/go-debug.js"></script>

<div id = "diagram", style = "width:100%; height:100%">
	
</div>

<script type="text/javascript">
	var $ = go.GraphObject.make;
	//var myDiagram = $(go.Diagram, "diagram", { contentAlignment: go.Spot.Center, initialAutoScale: go.Diagram.Uniform });
	var myDiagram = $(go.Diagram, "diagram", { initialAutoScale: go.Diagram.Uniform });

	//esta debiera ser la matrix de 0's y 1's
	function Cell() {
		var chance = Math.random();
		var alive  = (chance >= 0.7) ? true : false;
		this.alive = alive;
	}

	var model = $(go.Model);

	var model_data = [];

	for (var i = 0; i < 1000; i++) {
		model_data.push(new Cell());
	}

	model.nodeDataArray = model_data;
	diagram.model = model;
</script>