<script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.8.22/go-debug.js"></script>

<div id = "diagram", style = "width:100%; height:100%">
	
</div>

<script type="text/javascript">
	// https://javascript.info/class
	class Cell {
		constructor() {
			this.state = (Math.random() >= 0.7) ? "true" : "false";
		}

		get state() {
			return this._state;
		}

		set state(state) {
			this._state = state;
		}
	}

	var $ = go.GraphObject.make;
	//var myDiagram = $(go.Diagram, "diagram", { contentAlignment: go.Spot.Center, initialAutoScale: go.Diagram.Uniform });
	var myDiagram = $(go.Diagram, "diagram", { initialAutoScale: go.Diagram.Uniform });
	
	myDiagram.nodeTemplate =
		$(go.Node, "Auto",
		{
			selectable: false
		},
		$(go.Shape, "Hexagon",
			{
				name: "SHAPE",
				width: 20, height: 20,
				strokeWidth: 4, stroke: null
			},
			new go.Binding("fill", "state", function(name) {
				switch (name) {
					case "true":  return "rgba(240, 120,  50, .6)";
					case "false": return "rgba(240, 230, 120, .6)";
				}
				return "black";
			}))
	  );

	var model_data = [];

	for (var i = 0; i < 100; i++) {
		let cell = new Cell();
		model_data.push({ key: i, state: cell.state });
	}
	console.log(model_data);
	diagram.model = new go.Model(model_data);
</script>